* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(210, 46%, 95%);
}

p.main-text {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.no1, .no2, .no5 {
    color: rgb(255, 255, 255);
}

.handle {
    opacity: 0.5;
}


.no3, .no4 {
    color: ;
}

.container {
    height: 100%;
    margin: 5% 13%;
    font-family: "Barlow Semi Condensed", sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}

[class*="no"] {
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(126, 126, 126, 0.404);
}

.container .no1 {
    grid-column: 1 / span 6;
    background-color:  hsl(263, 55%, 52%);
}

.container .no2 {
    grid-column: 7 / span 3;
    background-color: hsl(217, 19%, 35%);
}

.container .no3 {
    grid-column: 10 / -1;
    grid-row: 1 / -1;
    background-color: #fff;
}

.container .no4 {
    grid-column: 1 / span 3;
    background-color: #fff;
}

.container .no5 {
    grid-column: 4 / span 6;
    background-color: hsl(219, 29%, 14%)
}

.profile-data {
    display: grid;
    grid-template-columns: 45px auto;
    grid-template-rows: 20px 20px;
    grid-gap: 5px;
    margin-bottom: 10px;
}

.image {
    grid-row: 1 / -1;
    height: 40px;
    width: 40px;
    align-self: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 2px 2px 10px gray;
}

.name {
    grid-column: 2 / -1;
    justify-self: start;
    align-self: center;
    font-size: 13px;
}

.handle {
    grid-column: 2 / -1;
    justify-self: start;
    align-self: center;
    font-size: 13px;
}